:host ::ng-deep {
  .gui-form {
    .gui-field-label {
      width: 100px;
    }
  }

  .cm-editor {
    border: 1px solid var(--mat-sys-outline-variant);
  }
}

section {
  display: grid;
  grid-template-columns: 300px 1fr;
  max-width: 1200px;
  margin: 16px auto;
}

.config-panel {
  position: sticky;
  top: 0;
}

h4 {
  padding: 8px 0;
  margin: 0;
  line-height: 36px;
}

.editor-wrap {
  display: flex;

  * {
    flex: 1;
    width: 0;
  }
}

textarea {
  display: block;
  width: 100%;
  line-height: 1.38;
}
