<section>
  <aside>
    <div class="config-panel">
      <h4>Code Editor Config</h4>
      <gui-form [config]="config" [model]="options" [form]="form" />
    </div>
  </aside>

  <div>
    <h4>
      <button matButton (click)="showOutput = !showOutput">Toggle output</button>
    </h4>
    <div class="editor-wrap">
      <code-editor
        #editor
        [style.height]="'500px'"
        [field]="codeForm.code"
        [theme]="options.theme"
        [setup]="options.setup"
        [placeholder]="options.placeholder"
        [indentWithTab]="options.indentWithTab"
        [indentUnit]="options.indentUnit"
        [lineWrapping]="options.lineWrapping"
        [highlightWhitespace]="options.highlightWhitespace"
        [language]="options.language"
        [languages]="languages"
      />

      @if (showOutput) {
        <textarea [style.height]="'500px'" [field]="codeForm.code"></textarea>
      }
    </div>

    <h4>Unified diff-editor</h4>
    <code-editor
      #editor
      [style.height]="'500px'"
      [value]="modifiedCode"
      [theme]="options.theme"
      [setup]="options.setup"
      [readonly]="options.readonly"
      [placeholder]="options.placeholder"
      [indentWithTab]="options.indentWithTab"
      [indentUnit]="options.indentUnit"
      [lineWrapping]="options.lineWrapping"
      [highlightWhitespace]="options.highlightWhitespace"
      [extensions]="unifiedExts"
    />
  </div>
</section>

<section>
  <aside>
    <div class="config-panel">
      <h4>Diff Editor Config</h4>
      <gui-form [config]="config2" [model]="options2" />
    </div>
  </aside>

  <div>
    <h4>Split diff-editor</h4>
    <diff-editor
      #editor
      [style.height]="'100vh'"
      [field]="diffFormElement"
      [orientation]="options2.orientation"
      [revertControls]="options2.revertControls"
      [highlightChanges]="options2.highlightChanges"
      [gutter]="options2.gutter"
    />
  </div>
</section>
