<label>
  <select [(ngModel)]="theme">
    <option value="light">light</option>
    <option value="dark">dark</option>
  </select>
</label>

<label>
  <select [(ngModel)]="setup">
    <option [value]="null">none</option>
    <option value="basic">basic</option>
    <option value="minimal">minimal</option>
  </select>
</label>

<label>
  <input type="checkbox" [(ngModel)]="disabled"> disabled
</label>

<label>
  <input type="checkbox" [(ngModel)]="readonly"> readonly
</label>

<label>
  <input type="text" [(ngModel)]="placeholder" />
</label>

<label>
  <input type="checkbox" [(ngModel)]="indentWithTab"> indentWithTab
</label>

<label>
  <input type="text" [(ngModel)]="indentUnit" />
</label>

<label>
  <input type="checkbox" [(ngModel)]="lineWrapping"> lineWrapping
</label>

<label>
  <input type="checkbox" [(ngModel)]="highlightWhitespace"> highlightWhitespace
</label>

<label>
  <select [(ngModel)]="language" (ngModelChange)="setLanguage()">
    <option value="html">html</option>
    <option value="css">css</option>
    <option value="js">js</option>
  </select>
</label>

<code-editor #editor
             autoFocus
             [(ngModel)]="code"
             [ngModelOptions]="{updateOn:'blur'}"
             (ngModelChange)="log($event)"
             [theme]="theme"
             [setup]="setup"
             [disabled]="disabled"
             [readonly]="readonly"
             [placeholder]="placeholder"
             [indentWithTab]="indentWithTab"
             [indentUnit]="indentUnit"
             [lineWrapping]="lineWrapping"
             [highlightWhitespace]="highlightWhitespace"
             [extensions]="extensions" />

<pre>{{code}}</pre>

<label>
  <button (click)="editorControl.disabled?editorControl.enable():editorControl.disable()">
    {{editorControl.disabled?'enable':'disable'}}
  </button>
</label>

<code-editor [formControl]="editorControl" />

<pre>{{editorControl.value}}</pre>
