<header>
  <h1>Codemirror6 wrapper for Angular</h1>

  <a href="https://github.com/acrodata/code-editor" target="_blank">GitHub</a>
</header>

<main>

  <fieldset>
    <legend>Options</legend>

    <span>
      <label>theme:</label>
      <select [(ngModel)]="theme">
        <option value="light">light</option>
        <option value="dark">dark</option>
      </select>
    </span>

    <span>
      <label>setup:</label>
      <select [(ngModel)]="setup">
        <option [value]="null">none</option>
        <option value="basic">basic</option>
        <option value="minimal">minimal</option>
      </select>
    </span>

    <span>
      <label>language:</label>
      <select [(ngModel)]="language" (ngModelChange)="setLanguage()">
        <option value="html">html</option>
        <option value="css">css</option>
        <option value="js">js</option>
      </select>
    </span>

    <label>
      <input type="checkbox" [(ngModel)]="disabled">
      <span>disabled</span>
    </label>

    <label>
      <input type="checkbox" [(ngModel)]="readonly">
      <span>readonly</span>
    </label>

    <span>
      <label>placeholder:</label>
      <input type="text" [(ngModel)]="placeholder" />
    </span>

    <label>
      <input type="checkbox" [(ngModel)]="indentWithTab">
      <span>indentWithTab</span>
    </label>

    <span>
      <label>indentUnit:</label>
      <input type="text" [(ngModel)]="indentUnit" />
    </span>

    <label>
      <input type="checkbox" [(ngModel)]="lineWrapping">
      <span>lineWrapping</span>
    </label>

    <label>
      <input type="checkbox" [(ngModel)]="highlightWhitespace">
      <span>highlightWhitespace</span>
    </label>
  </fieldset>

  <div class="grid">
    <code-editor #editor [style.height.px]="200"
                 autoFocus
                 [(ngModel)]="code"
                 [ngModelOptions]="{updateOn:'blur'}"
                 (ngModelChange)="log($event)"
                 [theme]="theme"
                 [setup]="setup"
                 [disabled]="disabled"
                 [readonly]="readonly"
                 [placeholder]="placeholder"
                 [indentWithTab]="indentWithTab"
                 [indentUnit]="indentUnit"
                 [lineWrapping]="lineWrapping"
                 [highlightWhitespace]="highlightWhitespace"
                 [extensions]="extensions" />

    <pre>{{code}}</pre>
  </div>

  <h2>Reactive Form</h2>

  <label>
    <button (click)="editorControl.disabled?editorControl.enable():editorControl.disable()">
      {{editorControl.disabled?'enable':'disable'}}
    </button>
  </label>

  <div class="grid">
    <code-editor [style.height.px]="200" [formControl]="editorControl" />

    <pre>{{editorControl.value}}</pre>
  </div>

</main>
