<label>
  <select [(ngModel)]="theme">
    <option value="light">light</option>
    <option value="dark">dark</option>
  </select>
</label>

<label>
  <input type="checkbox" [(ngModel)]="disabled"> disabled
</label>

<label>
  <input type="checkbox" [(ngModel)]="readonly"> readonly
</label>

<label>
  <input type="text" [(ngModel)]="placeholder" />
</label>

<code-editor #editor
             [(ngModel)]="code"
             [ngModelOptions]="{updateOn:'blur'}"
             (ngModelChange)="log(editor)"
             [theme]="theme"
             [disabled]="disabled"
             [readonly]="readonly"
             [placeholder]="placeholder"
             [autoFocus]="true" />

<pre>{{code}}</pre>

<label>
  <button (click)="editorControl.disabled?editorControl.enable():editorControl.disable()">
    {{editorControl.disabled?'enable':'disable'}}
  </button>
</label>

<code-editor [formControl]="editorControl" />
