@use "@angular/material" as mat;

@use "assets/styles/theme-colours.scss" as colours;

html {
  @include mat.theme((
    color: (
      primary: colours.$primary-palette,
      tertiary: colours.$tertiary-palette,
      theme-type: light,
    ),
    typography: 'Noto Sans',
    density: 2
  ));
}
